div, h1 {
    width: 33%;
}

div {
    background-color: red;
}
h1 {
    background-color: peachpuff;
}

p {
    background-color: aqua;
    width: 300px;
    height: 300px;
}
span {
    background-color: green;
    height: 300px;
    width: 300px;
}

button{
    width: 300px;
    height: 300px;
}